<!DOCTYPE html>
{% extends "theme.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<h2 align="center">发布新应用</h2><br>
<form action="{% url '发布页面' %}" method="POST" align="center" enctype="multipart/form-data">
    {% csrf_token %}
    标题：<input type="text" name="标题"><br>
    介绍：<textarea cols="50" rows="6" name="介绍">在这里写app介绍</textarea><br>
    APP链接：<input type="text" name="APP链接"><br>
    APP图标（缩略图）：<input type="file" name="APP图标"><br>
    大图：<input type="file" name="大图">
    <p align="center" style="color: red">{{错误}}</p>
    <input class="btn btn-primary" type="submit" value="发布">
</form>
{% endblock content %}
</body>
</html>